// Sizes
$base-measure: .6rem;
$max-width-container: 120rem;

// Layers
$level-empty: -1;
$level-one: 100;
$level-two: 200;
$level-three: 300;
$level-max: 9999;

// Colors
$color-black: #000;
$color-white: #fff;
$color-gray-light-1: #d6d6d6;

$brand-white: #fff;
$brand-light-purple: purple;